<!DOCTYPE html>
<html>
<head>
  <title>Rarbac</title>
  <%= stylesheet_link_tag    "rarbac/application", media: "all" %>
  <%= javascript_include_tag "rarbac/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
